header{
  font-family: var(--fonte-principal);
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(112, 112, 112,0.5);
  backdrop-filter: blur(5px);

  display: block;
  text-align: center;

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

ul.menu{
  display: none;
}

li{
  padding: 0.5em;
  margin: 0.5em 0em;
}

li:hover{
  background-color: rgba(112, 112, 112,0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}