.section_inicio{
    display: block;
    justify-content: center;
    text-align: center;
}

.img_inicio{
    display: block;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.container_inicio_titulo{
    display: block;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;

    border-radius: 5px;
    background-color: rgba(194, 132, 8, 0.15);
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(1rem);
}

.span_nome{
    color: #c28408;
    font-weight: 500;
}

.container_descricao{
    color: var(--cor-de-fonte);
}

.botao_div{
    margin: 0.5em;
}

.botao_link{
    width: 100%;
    background-image: url(../img/alura.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    border: 1px #2d0554 solid;
    border-radius: 5px;
    padding: 1em;
}

.botao_div:hover{
    background-color: rgba(112, 112, 112,0.3);
}

.bt_texto{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.container_sobre{
    display: block;
    text-align: center;
}

.container_titulo2{
    font-size: 25px;
    color: #c28408;
    text-decoration: underline;
    margin: 1em;
}

.container_titulo_descricao2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    padding: 0.5em;
    line-height: 1.5em;

    border-radius: 5px;
    background-color: rgba(194, 132, 8, 0.15);
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(1rem);
}

.container_inicio_titulo2{
    margin: 1em;
}

.botoes{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
}

.btn_img{
    width: 45px;
    margin: 2em 3em;
    border-radius: 10px;
    transform: scale(1.1);
}

.titulo_projetos{
    display: block;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;

    font-size: 20px;
    color:#c28408;
    text-decoration: underline;
}

.lista_projetos{
    display: block;
    text-align: center;
}

.img_proj{
    width: 50%;
}

.projeto_texto{
    font-size: 13px;
    margin: 0.5em;
}

.lista_item{
    margin: 1em;
    padding-top: 1.5em;

    background-color: rgba(194, 132, 8, 0.4);
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 100px 0px;
}

.section_projetos{
    margin-bottom: 1em;
}

footer{
    display: block;
    text-align: center;
}

.footer{
    color: dimgray;
    font-size: 10px;
    margin: 1em;
}